<!DOCTYPE html>
<html>

<head>
    <!-- Define la codificación del documento y la escala inicial para dispositivos móviles -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Enlaces a hojas de estilo CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- Título de la página -->
    <title>PASWORD GENERATOR</title>

    <!-- Enlace a una hoja de estilo personalizada -->
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Logo de la empresa -->
        <img class="company-logo" src="../images/logo.png" alt="Logo de tu empresa">

        <!-- Contenedor de botones para seleccionar servicios -->
        <div class="button-container">
            <!-- Botón para generar contraseña para el servicio 1 -->
            <button class="btn btn-primary" onclick="generatePassword(1)">
                <img src="../images/nutanix.png" alt="nuntanix">
            </button>
            <!-- Botón para generar contraseña para el servicio 2 -->
            <button class="btn btn-primary" onclick="generatePassword(2)">
                <img src="../images/outlook.png" alt="outlook">
            </button>
            <!-- Botón para generar contraseña para el servicio 3 -->
            <button class="btn btn-primary" onclick="generatePassword(3)">
                <img src="../images/citrix.png" alt="citrix">
            </button>
        </div>

        

        <!-- Contenedor de fila para la entrada de contraseña y botones de acción -->
        <div class="row">
            <div class="col-md-12">
                <form>
                    <!-- Campo de entrada de texto para mostrar la contraseña generada -->
                    <input type="text" id="passwordDisplay" class="form-control" readonly />

                    <!-- Contenedor de botones para copiar, regenerar y limpiar la contraseña -->
                    <div class="btn-container">
                        <!-- Botón para copiar la contraseña al portapapeles -->
                        <button type="button" class="btn btn-success" onclick="copyPassword()">
                            <i class="fas fa-copy"></i>
                        </button>
                        <!-- Botón para regenerar la contraseña -->
                        <button type="button" class="btn btn-success" onclick="regPassword()">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                        <!-- Botón para limpiar el campo de contraseña -->
                        <button class="btn btn-success" onclick="clearPassword()">
                            <i class="fas fa-broom"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script para mostrar alertas con SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Script personalizado para la funcionalidad de generación y manipulación de contraseñas -->
    <script src="~/js/site.js"></script>
</body>

</html>
